.light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: #a5a5b5;
    color: #302b2b;
    padding-bottom: 50px;
}
#but{
    margin-left: 750px;
    margin-top: 6px;

}


/* --------------==========="about" */
.about{
background-color: #272727;;  
padding-bottom: 150px;
color: white;
padding-top: 100px;

}

  

/* ========================================= Contact ================== */

.Radius{
  border-radius: '25px';
}

.cont{
  margin-left: '270px'; 
  color: rgb(14 42 253);
}


/* ======================"resume"========= */


.resume{
  color: #142199;
  
}


.resume{
  background-color: black;
  color: white;
}